
.carousel-item {
    height: 70vh;
    min-height: 400px; 
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.text-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}


.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
}

.carousel-caption {
    z-index: 10;
}
